.imageContainer {
  position: relative;
  width: 100vw; 
  height: 80vh; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  overflow: hidden; 
  background-color: #000000;
}

.desktop {
  display: block;
  height: 102% !important;
  position: relative !important;
}

.mobile {
    display: none;
    height: 102% !important;
}

@media (max-width: 820px) {
  .desktop {
    display: none;
  }
  
  .mobile {
      display: block;
  }
}