.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.formInput {
    background-color: #FAFAFA;
    border-radius: 4px;
}

@media (max-width: 820px) {
    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
}