.albumAnnouncement {
    font-weight: 400; 
    font-size: 3rem; 
    line-height: "1.167";
}

.streamLink {
    font-weight: 400; 
    font-size: 2.125rem; 
    line-height: "1.235";
}

@media (max-width: 820px) {
    .albumAnnouncement {
        font-weight: 400; 
        font-size: 2rem; 
        line-height: "1.167";
    }
    
    .streamLink {
        font-weight: 400; 
        font-size: 1.125rem; 
        line-height: "1.235";
    }
}