.hamburger {
  display: none;
}

.navOptions {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .navOptions {
    display: none;
  }
}